body
{
	background-image: url("assets/parchment-background.jpg");
	background-size: 100%;
	font-family: 'Tangerine', cursive;
	font-size: 48px;
	color: #552B00;
}

#drawing
{
	background-repeat: no-repeat;
	position: fixed;
	width: 600px;
	height: 100%;
	left: 400px;
	opacity: 0.5;
}

#container
{
	position: absolute;
	left: 100px;
	top: 50px;
	width: 60%;
}

#timer
{
	width: 300px;
	height: 150px;
	background-image: url("assets/hourglass.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	right: 70px;
}

#timerText
{
	font-size: 60px;
	padding: 48px 0 0 168px;
}

#gong
{
	width: 300px;
	height: 270px;
	background-image: url("assets/gong.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	right: 70px;
	bottom: 50px;
	cursor: pointer;
}

#gongText
{
	margin: 50px 0;
}

#title
{
	font-size: 125px;
	margin-top: 33px;
}

#subtitle
{
    font-size: 60px;
    margin-left: 411px;
}
